<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block favicon %}
            <!-- FavIcon -->
            {#    <link rel="icon" type="image/png" href="https://www.gstatic.com/devrel-devsite/prod/v18acaed6c9e1965881c7cfa6f3f9f69e7c37603f6d253114168821ce9e70c645/tensorflow/images/favicon.png"> #}
            <link rel="shortcut icon" href="{{ constant('APP_PATH_IMAGES') }}favicon.ico" type="image/x-icon">
            <link rel="apple-touch-icon-precomposed" href="{{ constant('APP_PATH_IMAGES') }}apple-touch-icon.png">
        {% endblock %}


        {% for source in styles %}
            <link rel="stylesheet" href="{{ source }}" >
        {% endfor %}


        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block body %}
            <h1>Body Here</h1>
        {% endblock %}
    </div>

    {% block jsFooter %}
        <!-- Moved Lower -->
    {% endblock %}

    {% block bsmd %}
        <script>
            $(document).ready(function() {
                $('body').bootstrapMaterialDesign();
            });
        </script>
    {% endblock %}
</body>
</html>