{% extends "base.twig" %}

{% block title %}Project Summary{% endblock %}

{% block body %}
    <a href="{{ modelUrl }}" class="btn btn-primary"></a>

{% endblock %}

{% block jsFooter %}
    {{ parent() }}
    <main>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">REDCap TensorFlow Project Summary</h1>
                <p class="lead text-muted">
                    This page shows project settings
                </p>
                <p>
                    <a target="_BLANK" href="{{ modelUrl }}" role="button" class="btn btn-primary">Open Model</a>
                </p>
            </div>
        </section>
    </main>
{% endblock %}
